body {
  display: flex;
  margin: 2% 2%;
  padding: 2% 2%;
  border: 3px solid #4E5878;
  background-color: #F7F7F7;
  line-height: 25px;
  font-family: 'Montserrat', sans-serif;
  color: #2C3638;
}

.left {
  width: 35%;
  padding: 0 0;
  margin-left: 2%;
}

.right {
  width: 65%;
  margin-right: 2%;
  padding: 0 0;

}

img {
  width: 55%;
  position: relative;
  border-radius: 50%;
  box-shadow: 10px 10px 5px #ccc;
  margin-bottom: 5%;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  margin-bottom: 7%;
  text-shadow: 2px 1px lightgrey;
}

section {
  margin-bottom: 4%;
}

a {
  color: darkblue;
}

a:hover {
  color: blue;
}

a:visited {
  color: black;
}

.location, .date {
  color: #4C5D60;
  line-height: 10px;
}

.location {
  font-style: italic;
}

.date {
  font-style: italic;
  font-weight: 700;
}

.contact-main {
  display: block;
}

.contact1, .contact2 {
  display: flex;
  align-items: flex-end;
}

.cont-img {
  width: 24px;
  height: 24px;
  border-radius: none;
  box-shadow: none;
  margin-right: 10px;
}

.links {
  display: flex;
}

.bi {
  color: #2C3638;
  margin-right: 15px;
  width: 20px;
  height: 20px;
}
