@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-left: auto;
  width: 100%;
  margin-top: 2%;
}

h1 {
  margin-bottom: 25px;
}

img {
  margin-top: 5px;
  max-width: 150px;
  max-height: 150px;
}

.results {
  text-align: center;
  margin: 0 auto;
}

.noUsers {
  border: none;
  grid-column: span 3;
}

.errorMessage {
  padding: 10px 10px;

  margin: 0 auto;
  color: red;
  text-align: center;
  font-weight: bold;
}

input {
  margin-bottom: 20px;
  padding: 5px 5px;
}

ul {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 3%;
}

li {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  list-style: none;
  margin: 0px 10px;
  padding: 20px 0px;
}

@media only screen and (max-width: 860px) {
  .results {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  ul {
    grid-template-columns: 30% 30%;
    justify-content: center;
    column-gap: 30px;
  }

  li {
    width: 100%;
    padding: 2%;
    margin: 5px 0px;
  }

  img {
    width: fit-content;
  }

  .noUsers {
    border: none;
    text-align: center;
  }
}
