body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/*Header - general*/

header{
  padding: 0 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #282323;
}

.logo{
  width: 150px;
  height: auto;
}

nav{
  width: 50%;
}

nav ul li{
  display: inline-flex;
  margin-left: 7%;
}

a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: 2% 0;
}

a:hover{
  text-decoration: underline;
}

/*Status bar*/
.status-bar{
  height: 24px;
  border: 2px solid white;
  border-radius: 10%;
  background-color: #DBDBD3;
}

#step-1{
  margin: 0;
  padding: 0;
  position: relative;
  width: 15%;
  height: 24px;
  background-color: #282323;
  border-radius: 5%;
}

#step-2{
  margin: 0;
  padding: 0;
  position: relative;
  width: 35%;
  height: 24px;
  background-color: #282323;
  border-radius: 5%;
}

#step-3{
  margin: 0;
  padding: 0;
  position: relative;
  width: 60%;
  height: 24px;
  background-color: #282323;
  border-radius: 5%;
}

#step-4{
  margin: 0;
  padding: 0;
  position: relative;
  width: 90%;
  height: 24px;
  background-color: #282323;
  border-radius: 5%;
}
/*Main-general*/

main{
  margin: 2% 3%;

}

label{
  font-weight: bold;
  font-size: 1.1em;
}

h1{
  font-size: 2em;
}

h3{
  margin: 2% 0;
  font-size: 1.5em;
}

h4{
  font-size: 1.25em;
}

div{
  margin: 3% 0;
}

input{
  box-sizing: border-box;
  padding: .25% .25%;
  margin-right: 2%;
}

select{
  box-sizing: border-box;
  padding: .25% .25%;
  font-family: inherit;
}

button{
  font-family: inherit;
  position: relative;
  bottom: 2%;
  left: 85%;
  border: 1px solid white;
  border-radius: 7%;
  font-size: 1.1em;
  color: white;
  background-color: black;
  padding: 1.15% 1.15%;
}

input[type=checkbox]{
            flex: none;
        }

/*Step 1*/
.description{
  display: flex;
  width: 60%;
}

textarea{
  width: 90%;
  padding: 2% 2%;
  resize: none;
}

.d-label{
  display: block;
}

#note{
  width:80%;
  font-style: italic;
  font-size: .75em;
}


#shipping:checked ~ .invisible{
  display: none;
}

/*Step 2 - Nothing special, all the general properties are applied*/
/*Step 3 - In a separate file because of the grid. It was more convenient for me.*/

/*Step 4*/
#ccv{
  width: 50px;
}

/*Media query*/

@media only screen and (max-width:850px) {
  body{

  }

  input{
    display: block;
    margin-bottom: 2%;
    width: 40%;
  }

  header{
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    align-content: center;
  }

  nav ul li{
    width: 100%;
    display: block;
    align-items: center;
  }

  main{
    width:90%;
    display: block;
    margin: 7% 7%;
  }

  .description{
    width: 90%;
  }

  .d-label{
    width: 40%;
  }

  textarea{
    width: 60%;
  }

  button{
    left: 70%;
  }

}
