@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;500&display=swap");

html {
  min-height: 100%;
  width: 100%;
  font-family: "Montserrat Alternates", sans-serif;
  color: #350816;
}
body {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 209, 67, 1) 0%,
    rgba(255, 145, 83, 1) 90%
  );
  text-align: center;
  background-size: cover;
  background-clip: border-box;
  margin: 0;
  padding: 0;
}

header {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0 10px;
}

.inputs {
  margin: 30px 0;
}

.weather {
  margin-left: auto;
  margin-right: auto;
  padding: 2% 0%;
  margin-bottom: 50px;
  margin-top: auto;
  width: 40%;
}

.box {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: rgba(244, 231, 215, 0.8);
  padding: 2% 0;
  border-radius: 12px;
}

.weatherIcon img {
  width: 70px;
  margin-bottom: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}

.temp {
  font-size: 1.75em;
  font-weight: 500;
}

.mainInfo {
  align-content: center;
}

.minibox {
  background-color: rgba(244, 231, 215, 0.8);
  margin-bottom: auto;
  border-radius: 12px;
  width: 40%;
  padding: 5% 4%;
  font-weight: 300;
}

#map {
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  width: 80%;
  height: 150px;
}

input:focus {
  outline: none;
}

button,
input {
  background-color: rgb(244, 231, 215);
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 0;
  color: #702f00;
}

button {
  text-align: center;
  transition: 200ms;
  touch-action: manipulation;
}

button:hover {
  outline: 0;
  background: darkorange;
  color: white;
}
